TWITTER_USERNAME=your_username
TWITTER_PASSWORD=your_password
TWITTER_LOGIN=your_email_or_phone_or_handle_for_x_login
TWITTER_EMAIL=your_email_for_x_verification
TWITTER_PHONE=your_phone_for_x_verification
INSTAGRAM_USERNAME=your_username
INSTAGRAM_PASSWORD=your_password
LINKEDIN_USERNAME=your_username
LINKEDIN_PASSWORD=your_password
OPENAI_API_KEY=your_api_key_here
